
.icon-home:before { content: '\e800'; } /* '' */
.icon-chart-bar:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */