html {
	height: 100%;
}

body {
	display: table;
	height: 100%;
}

.container-fluid {
	background: white;
	font-family: 'Varela Round', sans-serif;
}

.header-site {
	border-bottom: 2px solid #F2F2F2;
	background: #FAFAFA;
}

@media (max-width: 767.98px) {
	.header-site--logged-in {
		display: none;
	}
}

.header-site__link--active {
	background: white;
	padding: 3px;
	border-bottom: 2px solid #585858;
}

.header-site__main-link {
	color: #FE2E2E;
	opacity: 0.9;
	background :white;
	padding: 10px;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

.header-site__main-link:hover {
	color: #DF0101;
	text-decoration: none;
}

@media (max-width: 575.98px) {
	.header-site__main-link {
		font-size: 22px;
	}
}

.footer {
	display: table-footer-group;
	height: 60px;
	background: #F2F2F2;
	width: 100%;
}

.img--position {
	position: relative;
}

.img-start--height {
	height: 300px;
}

.start-site__text-bg {
	position: absolute;
	top: 0;
	opacity: 0.93;
	width: 100%;
	height: 100%;
}

.bg-blue {
	background: #01A9DB;
}

.bg-red {
	background: #FE2E2E;
}

.start-site__text {
	position: absolute;
	top: 0;
	color: white;
	font-size: 23px;
	padding: 15px;
	text-align: center;
	height: 100%;
	width: 100%;	
}

@media (max-width: 575.98px) {
	.start-site__text {
		font-size: 21px;
	}
}

.text-lightgray {
	color: #6E6E6E;
}

.text-gray {
	color: #424242;
}

.header-site__link {
	color: #6E6E6E;
	font-weight: bold;
}

.header-site__link:hover {
	text-decoration: none;
	color: #424242;
}

@media (max-width: 767.98px) {

	.header-site__link span{ 
		display: none;
	}
	
	.header-site__link i {
		margin-bottom: 16px;
	}
}

@media (min-width: 767.98px) {
	.nav-item--logout {
		display:none;
	}
	
	.nav-link-expense__icon-pen,
	.nav-link-income__icon-pen {
		font-size: 10px;
		position: absolute;
	}

	.nav-link-expense__icon-pen {
		top: 16px;
		left: 32px;
	}

	.nav-link-income__icon-pen {
		left: 33px;
		top: 15px;	
	}
}

@media (max-width: 767.98px) {
	.nav-link__name {
		display: none;
	}
	
	.nav-link-expense__icon-pen,
	.nav-link-income__icon-pen {
		font-size: 10px;
		position: absolute;
	}

	.nav-link-income__icon-pen {
		left: 33px;
		top: 14px;
	}

	.nav-link-expense__icon-pen {
		top: 13px;
		left: 32px;
	}
}

@media (min-width: 991.98px) {
	.dropdown-menu {
		position: absolute !important;
		left: -120px;
	}
}

.btn-red {
	background: #FE2E2E;
}

.btn-red:hover {
	background: #FF0000;
}

.container-login {
	height:370px;
}

.container-registration {
	height: 450px;
}

.container-login--bg-side,
.container-registration--bg-side {
	background: #01A9DB;
	opacity: 0.6;
	height: 100%;
}

@media (max-width: 575.98px) {
	.container-login--bg-side,
	.container-registration--bg-side {
		display: none;
	}
}

.form__icon--width{
	width: 14px;
}

.cursor-pointer {
	cursor: pointer;
}

.form__icon-tip {
	background: #FBFCFC;
	border-left: 0;
	border-bottom-right-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

.form__icon-tip:hover {
	background: #F7F9F9;
}

.input-group-prepend {
	margin-right: 0;
}

.btn-blue {
	background: #01A9DB;
}

.btn-blue:hover {
	background: #0080FF;
}

.navbar {
	opacity: 0.85;
	background: #01A9DB;
}

@media (min-width: 767.98px) {
	.nav-link__name--select-period,
	.navbar__main-link {
		display: none;
	}
}

.nav-link {
	color: #FAFAFA;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 17px;
	margin-bottom: 3px;
	margin-top: 3px;	
}

.dropdown-item {
	font-size: 17px;
}

.navbar-toggler-icon {
	color: white;
	font-size: 27px;
	padding-top: 7px;
}

.navbar-toggler {
	padding: 0;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar__main-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #FE2E2E;
	transition: all 0.3s ease-out;
	background: white;
	padding: 5px;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
}

.navbar__main-link:hover {
	text-decoration: none;
	font-size: 24px;
	transition: all 0.3s ease-out;
	color: #FE2E2E;
}

.show .nav-item {
	padding-bottom: 2px;
	padding-top: 2px;	
}

.nav-item--logout {
	padding-bottom: 0;
	border-top: 1px solid #0489B1;	
}

.dropdown-item:hover,
.nav-link:hover {
	color: white;
	background: #0489B1;
	border-radius: 3px;
}

.active .nav-link {
	background: #0489B1;
	border-radius: 3px;
}

.dropdown-menu {
	background: #FAFAFA;
}

.main-site__bg-text {
	position: absolute;
	opacity: 0.92;
	border-radius: 3px;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;	
}

.carousel-item {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

@media (min-width: 575.98px) {
	.carousel__header {
		font-size: 32px !important;
	}

	.carousel__content-text {
		font-size: 16px;
	}

	.carousel__button {
		font-size: 20px !important;
	}
}

@media (max-width: 575.98px) {
	.carousel__header {
		font-size: 18px !important;
	}

	.carousel__content-text {
		font-size: 13px !important;
	}

	.carousel__button {
		font-size: 11px !important;
		margin-top: 3% !important;
	}
}

@media (min-width: 767.98px) {
	.carousel__header {
		font-size: 38px !important;
	}
	
	.carousel__content-text {
		font-size: 20px !important;
	}
	
	.carousel__button {
		font-size: 22px !important;
	}
}

.carousel__button {
	margin-top: 5%;
	padding: 3px;
	color: white !important;
	text-transform: uppercase;
	border: solid 3px white;
	transition: all 0.2s ease-out;
}

.carousel__button:hover{
	text-decoration: none;
	border-color: #ec9396;
	transition: all 0.2s ease-out;
}

.modal-footer {
	justify-content: space-around;
}

.modal-footer a {
	width: 40%;
}

.modal-header {
	background: #FBFCFC;
}

.form--add-data {
	background: #F7F9F9;
}

.form-add__input-group {
	width: 80%;
}

.input-border {
	border: none;
	border-bottom: 1px solid #6E6E6E;
	border-radius: 0;
}

.input-border:focus {
	box-shadow: none;
	border-bottom: 2px solid #0B3861;
}

.input-group-prepend--focus {
	border: none !important;
}

.input-group-text--focus {
	border-bottom: 2px solid #0B3861 !important;
	background: white !important;	
}

.form-add__btn--reset,
.form-add__btn--submit {
	font-size: 20px;
	border-radius: 0;	
}

.form-add__btn--resett:hover {
	background: #E64A19;
}

.form-add__btn--reset {
	background: #F4511E;
}

.form-edit__btn--submit,
.form-add__btn--submit {
	background: #43A047;
}

.form-edit__btn--submit:hover,
.form-add__btn--submit:hover {
	background: #388E3C;
}

.table-balance__th {
	border-top: 2px solid #2E7D32 !important;
	border-bottom: 2px solid #2E7D32 !important;
	background: #66BB6A !important;
}

.border-top-green {
	border-top: 1px solid #2E7D32 !important;
}

.table-balance__tbody tr:last-child {
	font-size: 20px;
}

@media (max-width: 575.98px) {
	.tabel-balance--font-size {
		font-size: 15px;
	}
}

.container-balance-comment {
	background: #F5F5F5;
	border-radius: 4px;
	border: 1px solid #E6E6E6;
}

.chart-pie {
	position: relative;
	margin: auto;
	height: 60vh;
	width: 60vw;
}

.content-settings {
	background: #F1F8E9;
}

.item-hide {
	display: none !important;
}

.max-width {
	width: 100%;
}

.max-height {
	height: 100%;
}

.container-settings__header {
	background: #C8E6C9;
}

.nav-settings__list {
	background: #81C784;
}

.site_settings--bg-green:hover,
.nav-settings__list .active {
	background: #4CAF50;
}

.nav-link-income,
.nav-link-expense,
.nav-link-userdata{
	position: relative;
}

.dropdown-settings__icon-dots {
	padding: 6px;
	font-size: 23px;
	color: #2C3E50;
	cursor: pointer;
	border-radius: 4px;
	background:  #9FD3A1;
}

.dropdown-settings__icon-dots:hover {
	background: #8fbd90;
}

.text-red {
	color: #F44336 !important;
}

.border-red {
	border: 2px solid #F44336 !important;
	border-radius: 4px;
}

.newUserInfo {
	text-align: center;
	margin-top: 50px;
	padding: 0;
}

.nowrap {
	white-space: nowrap;
}

.content-settings__list {
	font-size: 19px;
}

.table-balance__icon-dots,
.table-balance__icon-arrow {
	font-size: 20px;
	padding: 4px;
	cursor: pointer;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.form-settings__btn--submit {
	width: 40%;
}

.rotation {
	-ms-transform: rotate(180deg);
  	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: all 0.3s ease-out;
}

.fa-angle-down {
	transition: all 0.3s ease-out;
}

.container-limit--font-size {
	font-size: 12px;
}

.bg-lightgreen {
	background: #00CC00;
}

.bg-lightred {
	background: #f61d1d;
}


.message--result__icon--close {
	cursor: pointer;
	color: #cfcfcf;
}


