### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zapanuj-nad-wlasnymi-finansami index.php
RewriteRule zarejestruj-sie registration.php
RewriteRule zaloguj-sie login.php
RewriteRule menu-glowne menu.php
RewriteRule dodaj-przychod income.php
RewriteRule dodaj-wydatek expense.php
RewriteRule przegladaj-bilans balance.php
RewriteRule zmien-ustawienia settings.php
