body{
	position:relative;
}

#containerExpense,
#containerIncome,
#containerMenu,
#containerLogin,
#containerStartPage,
#containerRegistration{
	background:white;
	font-family:'Varela Round', sans-serif;
}


.containerHeaderMenu,
.containerHeader {
	border-bottom:2px solid #F2F2F2;
	background:#FAFAFA;
}

#containerRegistration #linkR{
	background:white;
	padding:3px;
	border-bottom:2px solid #585858;
}


#containerLogin #linkL{
	background:white;
	padding:3px;
	border-bottom:2px solid #585858;
}


	

.containerHeaderMenu header a{
	font-size:25px;
}

.containerHeaderMenu header a,
.containerHeader header a{
	color:#FE2E2E;
	opacity:0.9;
	background:white;
	padding:10px;
	border: 1px solid #F2F2F2;
	border-radius:5px;
}

.containerHeaderMenu header a:hover,
.containerHeader header a:hover{
	color:#DF0101;
	text-decoration:none;
}

.footerMenu,
.footerLogin,
.footerRegister,
.footer{
	background:#F2F2F2;
	color:#6E6E6E;
	font-family:'Varela Round', sans-serif;
}


.footerLogin{
	position:absolute;
	bottom:0;
	left:0;
}

img{
	position:relative;
	width:100%;
}


.registration img{
	height:443px;
}

.login img{
	height:360px;
}

#textRightBg{
	position:absolute;
	top:0;
	background:#01A9DB;
	opacity:0.93;
	width:100%;
	height:100%;
}



#textLeftBg{
	position:absolute;
	top:0;
	background:#FE2E2E;
	opacity:0.93;
	width:100%;
	height:100%;
	
	
}

.textL,
.textR{
	position:absolute;
	top:0;
	color:white;
	font-family:'Varela Round', sans-serif;
	font-size:23px;
	padding:15px;
	text-align:center;
	height:100%;
	
	
}

#startButtons p,
#textCenter{
	color:#6E6E6E;
	font-family:'Varela Round', sans-serif;
	font-size:30px;
	background:white;
	text-align:center;	
}

#textCenter i{
	color:#424242;
}

#startButtons{
	padding-top:20px;
	margin-bottom:60px;
}

#startButtons p{
	font-size:22px;
	margin-bottom:5px;
}


.headerLink{
	color:#6E6E6E;
	font-weight:bold;

}

.headerLink:hover{
	text-decoration:none;
	color:#424242;
}

@media (max-width: 767.98px) {
	.headerLink span{
		display:none;
	}
	.footerMenuSticky{
		position:absolute;
		bottom:0;
		left:0;
	}
	
	.containerHeaderMenu{
		display:none;
	}
	
}

@media (min-width: 767.98px) {
	.navbar header h2 a{
		display:none;
	}
	
	.navbar .show li:first-child{
	border-top: 1px solid #0489B1;
	padding-top:5px;
	}
}

@media (min-width: 991.98px) {
	.navbar .show li:first-child{
	border-top: none;
	padding-top:0;
	}
}

@media (max-width: 575.98px) {
	.login img,
	.registration img{
		display:none;
	}
	header a{
		font-size:26px;		
	}
	
}

@media (min-width: 767.98px) {
	#logOutItemNav{
		display:none;
	}
	
}


#startButtons .btn{
	width:60%;
	border:none;
	color:white;
	font-family:'Varela Round', sans-serif;
}

.btnRegister{
	background:#01A9DB;
}

.btnRegister:hover{
	background:#0080FF;
}

.btnLogin{
	background:#FE2E2E;
}

.btnLogin:hover{
	background:#FF0000;
}


.login .sideBg,
.registration .sideBg{
	background:#01A9DB;
	opacity:0.6;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
}

h3{
	font-family:'Varela Round', sans-serif;
	padding-bottom:20px;
	color:#585858;
}

h2{
	margin-bottom:0;
}

#userEmail i{
	width:14px;
}

form .btn{
	width:100%;
	background:#01A9DB;
}

label {
	color:#585858;
}

.navbar {
	opacity:0.85;
	background:#01A9DB;
}


.nav-link{
	color:#FAFAFA;
	margin-left:10px;
	margin-right:10px;
	font-size:17px;
	margin-bottom:3px;
	margin-top:3px;	
}

.dropdown-item{
	
	font-size:17px;
}

.navbar-toggler-icon{
	color:white;
	font-size:27px;
	padding-top:7px;
}

.navbar-toggler{
	
	padding:0;
}

.navbar-toggler:focus{
	
	outline:none;
}

.navbar header h2 a{
	font-size:22px;
	color:#FE2E2E;
	transition:all 0.3s ease-out;
	background:white;
	padding:5px;
	border: 1px solid #F2F2F2;
	border-radius:5px;
}



.navbar header h2 a:hover{
	text-decoration:none;
	font-size:24px;
	transition:all 0.3s ease-out;
}

.navbar .show li{
	padding-bottom:2px;
	padding-top:2px;	
}

.navbar .show li:last-child{
	padding-bottom:0;
	border-top: 1px solid #0489B1;
}

.navbar .show li:last-child a i{
	padding-left:5px;
}


.dropdown-item:hover,
.nav-link:hover{
	color:white;
	background:#0489B1;
	border-radius:3px;
}

.active .nav-link{
	background:#0489B1;
	border-radius:3px;
}

.dropdown-menu{
	background:#FAFAFA;
}


.contentBg{
	position:absolute;
	background:#FE2E2E;
	opacity:0.86;
	border-radius:3px;
	
}

.contentBgHover{
	top:12%;
	left:12%;
	height:76%;
	width:76%;
	transition:all 0.4s ease-out;
}

.contentBgBlur{
	top:15%;
	left:15%;
	height:70%;
	width:70%;
	transition:all 0.4s ease-out;
}

.contentText{
	position:absolute;
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:28px;
	z-index:10;
	
}

.contentTextBlur{
	top:15%;
	left:15%;
	height:70%;
	width:70%;
	padding:20px;
	transition:all 0.4s ease-out;
}

.contentTextHover{
	top:12%;
	left:12%;
	height:76%;
	width:76%;
	padding:40px;
	transition:all 0.4s ease-out;
}

.modal-footer{
	justify-content:space-around;
}

.modal-footer a{
	width:40%;
}

.modal-dialog{
	top:20%;	
}

.addDataRow{
	padding:0;

	
}

.containerAddIncome{
	
	padding:0 0 0 0;
}

.formAddData{
	background:#F7F9F9;
	padding:8% 0 0 0;
	margin-top:0;
	margin-bottom:10%;
	font-family:'Varela Round', sans-serif;
}

.formAddData h3{
	margin-left:10%;
}

.formAddData .input-group{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5%;
}

.formAddData .input-group-text,
.formAddData select,
.formAddData input{
	border:none;
	border-bottom: 1px solid #6E6E6E;
	border-radius:0;
	background:white;
}

.formAddData select:focus,
.formAddData input:focus{
	box-shadow:none;
	border-bottom: 2px solid #0B3861;
	background:white;
	
}

.inputGroupPrependFocus{
	border-bottom: 1px solid #0B3861;
}

.inputGroupTextFocus{
	background:white !important;
}

.formAddData button{
	width:100%;	
	font-size:20px;
	border-radius:0;
	
}

.formAddData [type="reset"]:hover{
	background:#FF0000;
}

.formAddData [type="reset"]{
	background:#FE2E2E;
}

.formAddData [type="submit"]{
	background:#01A9DB;
}

